  * {
    padding: 0;
    margin: 0;
  }

  body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*Diseños de los botones principales y secundarios*/
  
  .btn-main{
    padding: 0.3rem 0.7rem;
    border-radius: 0.25rem;
    background-color: rgb(0, 82, 255);
    color: white;
    border: none;
    border: solid 1px rgb(0, 82, 255);
    font-size: 14px;
    font-weight: 700;
  }
  
  .btn-main:hover:hover {
    background-color: rgb(10, 70, 228);
    color: white;
    border: solid 1px rgb(10, 70, 228);
  }

  .btn-sec{
    padding: 0.3rem 0.7rem;
    border-radius: 0.25rem;
    color: black;
    background-color: transparent;
    border: none;
  }

  .btn-sec:hover {
    color: #0077ff;
    border: none;
  }

  .login {
    font-weight: 600;
    font-size: smaller;
  }
  
  /*Barra de navegación*/
  
  .main-menu {
    margin-bottom: 0;
  }

  .main-menu li {
    font-size: 0.88rem;
    list-style: none;
    display: inline;
    font-weight: 600;
  }
  
  .main-menu li a {
    color: black;
    text-decoration: none;
  }
  .main-menu li a:hover {
    text-decoration: underline;
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: solid 1px #ddd;
    align-items: center;
    background-color: white;
    z-index: 2;
  }
  
  .nav ul li {
    padding-right: 1.4rem;
  }
  
  .logo img {
    width: 7rem;
  }
  
  /*Primera sección de la página*/

  .sec-home {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    padding-top: 12rem;
    padding-left: 4rem;
    padding-bottom: 7.5rem;
  }

  .sec-home .home-cta {
    flex: 1;
  }

  .sec-home .home-cta .cta-text {
    color: rgb(0, 82, 255);
    font-weight: 600;
  }

  .sec-home .home-cta .cta-text .bitcoin {
    background-color: rgb(0, 82, 255);
    color: white;
    border-radius: 50%;
    padding: 0.15rem 0.3rem;
  }

  .sec-home .home-cta .cta-text:hover .bitcoin{
    background-color: rgb(10, 70, 228);
  }

  .sec-home .home-cta .cta-text a {
    text-decoration: none;
  }

  .sec-home .home-cta .cta-text .arrow {
    font-size: 1.2rem;
  }

  .sec-home .home-cta .home-title {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 1.15;
    color: black;
  }

  .sec-home .home-cta .home-text {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
    padding-top: 20px;
    color: black;
    word-spacing: -2px;
  }
  
  .sec-home .home-img img {
    width: 100%;
    height: 534px;
    min-width: 400px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  
  .sec-home .login {
    display: flex;
  }

  .sec-home .login .input {
    padding: 20px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    color: gray;
    border: 1px solid #ddd;
    width: 350px;
  }
  
  .sec-home .login .btn-main, .sec-home .login .btn-main-s {
    position: relative;
    width: 30%;
    border-radius: 2px 6px 6px 2px;
    padding: 24px;
    font-size: 16px;
  }

  /*Segunda sección (El que tiene un background-color negro)*/

  .sec-information {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1rem;
  }

  .sec-information .imagen {
    padding-top: 2rem;
  }

  .sec-information .information {
    color: white;
    text-align: start;
    width: 80%;
    padding-left: 2rem;
    padding-top: 1rem;
  }

  .sec-information .information .title {
    font-size: 2.7rem;
    font-weight: 500;
    word-spacing: -3px;
  }

  .sec-information .information .subtitle {
    font-size: 1.35rem;
    padding-right: 2.5rem;
    font-weight: 400;
  }

  .sec-information .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 25px;
    border-radius: 28px;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(71, 126, 246);
    border: 2px solid rgb(71, 126, 246);
    transition: 0.2s ease-in-out;
  }

  .sec-information .button:hover {
    background-color: rgb(51, 113, 247);
    border: 2px solid white;
    border: 2px solid white;
  }

  .sec-information .button .bi-arrow-right {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
  }
  
  /*Tercera sección (La gráfica sobre las monedas)*/

  .graphic {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    width: 100%;
  }

  .graphic .header {
    font-size: 0.9rem;
  }

  .graphic .header th {
    font-weight: 400;
    color: rgb(91, 97, 110);
    text-align: start;
  }

  .graphic .bitcoin {
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 0.15rem 0.3rem;
  }

  .graphic .etherueum {
    width: 27px;
    background-color: rgb(114, 114, 214);
    border-radius: 50%;
    padding: 0.15rem 0.15rem;
  }

  .graphic .cardano {
    width: 30px;
    border-radius: 50%;
    padding: 0.15rem 0.15rem;
  }

  .graphic .solana {
    width: 30px;
  }

  .graphic .body th {
    color: rgb(91, 97, 110);
    font-weight: 300;
  }

  .graphic .body td {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
    justify-content: center;
    align-items: center;
  }

  .graphic .body span {
    color: rgb(91, 97, 110);
    padding-left: 10px;
  }

  .graphic .body .cambio {
    color: green;
  }

  .graphic .body .negative {
    color: red;
  }

  .graphic .body .btn {
    font-size: 14px;
    padding: 0.4rem 1.35rem;
    font-weight: 600;
  }
  
  /*Cuarta sección (El que dice "Gane hasta 28US$")*/

  /*Parte izquierda*/

  .dates {
    display: flex;
    align-items: center;
  }

  .dates .left {
    padding-left: 3rem;
    width: 40%;
  }

  .dates h5 {
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 35px;
    color: black;
    padding-bottom: 10px;
  }

  .dates p {
    font-size: 0.9rem;
    padding-right: 2rem;
  }

  .dates button{
    background-color: rgb(0, 82, 255);
    color: white;
    font-size: 0.92rem;
    font-weight: 600;
    padding: 0.6rem 0.8rem;
  }

  .dates button:hover {
    background-color: rgb(0, 75, 235);
    color: white;
  }

  /*Parte derecha*/

  .dates .icon {
    max-width: 50px;
    padding-right: 1rem;
  }

  .dates .right {
    padding-top: 2.8rem;
    width: 60%;
  }

  .dates .right li {
    list-style: none;
    border: 1px solid white;
  }

  .dates .right li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.32rem;
    font-weight: 500;
    border: 1px solid white;
    padding: 1rem 0.5rem;
  }

  .dates .right li a:hover {
    border: 1px solid #eee;
    padding: 1rem 0.5rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 2px 2px 2px;
    color: rgb(50, 50, 100);
  }

  .dates .right li .letters {
    color: rgb(91, 97, 110);
    font-size: 0.9rem;
    padding-left: 10px;
  }

  .dates .right li .button {
    font-size: 1rem;
    color: green;
    font-weight: 600;
    margin-left: auto;
    padding-right: 1rem;
  }

  .dates .right .ver {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: rgb(0, 82, 255);
  }

  .dates .right .ver:hover {
    color: rgb(0, 80, 205);
  }
  
  /*Quinta sección ("Crea hoy tu cartera de criptomonedas")*/
  
  .sec-features .inicio {
    padding-top: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 7rem;
  }

  .sec-features .title {
    font-size: 40px;
    padding-bottom: 1.1rem;
    font-weight: 600;
    color: black;
  }

  .sec-features .subtitle {
    color: rgb(94, 92, 92);
    font-weight: 400;
  }

  .sec-features .img-2 {
    width: 60%;
    height: 60%;
  }

  .sec-features .items ul {
    list-style: none;
  }
  
  .sec-features .items i {
    position: relative;
    top: 18px;
    color: #0077ff;
    font-size: 1.75rem;
    box-shadow: 0 8px 16px rgba(218, 225, 233, 0.557);
    border-radius: 50%;
    padding: 0.3rem 0.6rem;
  }
  
  .sec-features .items h4 {
    font-size: 1.25rem;
    font-weight: 600;
    display: inline-flex;
    padding-left: 20px;
    color: black;
  }

  .sec-features .items p {
    padding-left: 80px;
    color: gray;
    font-weight: 400;
  }

  .sec-features .items p a {
    text-decoration: none;
  }
  
  /*Sexta sección ("La plataforma de criptomonedas más fiable")*/

  .sec-benefits {
    border-top: 1px solid rgb(238, 240, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .sec-benefits .inicio .title {
    font-size: 35px;
    padding-top: 6.5rem;
    font-weight: 600;
    line-height: 35px;
  }

  .sec-benefits .subtitle {
    font-size: 19.2px;
    color: rgb(91, 97, 110);
  }
  
  .sec-benefits .cards {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;
  }

  .cards .icon {
    color: #0077ff;
    font-size: 3.5rem;
  }

  .cards .description .title {
    font-size: 1.38rem;
    font-weight: 600;
    color: black;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .cards .description .text {
    color: #333;
    font-weight: 400;
    text-align: center;
    color: rgb(94, 92, 92);
  }

  .cards .cta {
    color: #0077ff;
    font-size: 0.95rem;
    font-weight: 600;
    margin-top: 3rem;
    text-align: center;
    padding-bottom: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .cards a {
    text-decoration: none;
  }
  
  /*Septima sección (La de background azul)*/

  .kpis {
    background-color: rgb(0, 82, 255);
    color: white;
    padding: 3rem;
    width: 100%;
  }

  .kpis .kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .kpis .number {
    font-size: 45px;
    letter-spacing: -2px;
    font-weight: 700;
    line-height: 80px;
  }

  .kpis .desc {
    opacity: 0.7;
  }
  
  .sec-onboarding {
    padding-top: 5rem;
  }


  /*Octava sección ("Comience en tan solo un minuto")*/

  .sec-onboarding{
    padding-top: 6rem;
  }

  .sec-onboarding .inicio {
    text-align: center;
  }

  .sec-onboarding .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    color: black;
  }

  .sec-onboarding .subtitle{
    color: rgb(91, 97, 110);
  }

  .sec-onboarding .cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem 8rem;
  }

  .sec-onboarding i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0077ff;
    font-size: 3.5rem;
    padding-bottom: 1rem;
  }

  .sec-onboarding .line {
    flex: 1 1 0%;
    height: 1px;
    background-color: rgb(91, 97, 110);
    margin-top: 40px;
  }
  
  /*Última sección*/

  .last-section {
    display: flex;
    background-color: #F5F8FF;
    justify-content: center;
    align-items: center;
  }

  .last-section .left {
    width: 40%;
    padding-left: 6rem;
  }

  .last-section .left h5 {
    font-size: 1.8rem;
    color: black;
    font-weight: 600;
  }

  .last-section .left p {
    font-size: 0.9rem;
    opacity: 0.8;
  }

  .last-section .left button {
    background-color: rgb(0, 82, 255);
    color: white;
    font-size: 0.92rem;
    font-weight: 600;
    padding: 0.6rem 1rem;
  }

  .last-section .left button:hover {
    background-color: rgb(0, 75, 235);
  }
  
  .last-section img {
    width: 60%;
  }
  
  /*Texto debajo de la última sección*/

  .down-text {
    font-size: 0.89rem;
    padding-left: 2rem;
    padding-right: 2rem;
    opacity: 0.7;
  }
  .down-text a {
    color: rgb(0, 60, 255);
  }
  
  /*Footer*/

  .footer {
    display: flex;
    padding-top: 5rem;
  }

  .footer .part {
    width: 23%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }

  .footer .part .icon img {
    width: 60%;
  }

  .footer .part .languages {
    padding-top: 1rem;
  }

  .footer .part .languages .select {
    text-align: left;
    padding: 0.3rem 1.1rem;
    color: black;
    border-radius: 7px;
    border-color: rgba(221, 221, 221, 0.8235294118);
    font-size: 1.05rem;
  }
  
  .footer .part .languages .select:hover {
    border: 1px solid rgb(0, 65, 255);
  }

  .footer .part .languages .select option {
    font-size: 1.2rem;
  }

  .footer .part p {
    padding-top: 1rem;
    font-size: 1.1rem;
    opacity: 0.7;
  }

  .footer .part .redes .media-social {
    display: flex;
    flex-direction: row;
  }

  .footer .part .redes .media-social a {
    color: black;
    text-decoration: none;
    opacity: 0.7;
    font-size: 1.1rem;
    padding-right: 1rem;
  }

  .footer .part .redes .media-social a:hover {
    color: rgb(0, 82, 255);
    text-decoration: underline;
  }

  .footer .information {
    width: 77%;
    padding-top: 1rem;
    padding-left: 8rem;
    padding-right: 2rem;
  }

  .footer .information h6 {
    font-size: 1.03rem;
    color: black;
    text-align: left;
    padding-top: 25px;
  }

  .footer .information ul {
    font-size: 1.03rem;
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    opacity: 0.6;
    font-weight: 400;
  }

  .footer .information ul li {
    padding: 1px 0;
  }

  .footer .information ul a {
    color: black;
    text-decoration: none;
  }

  /*Media Queries*/

  @media (max-width: 500px){
        
    /*Header*/
      
      .nav{
        display: flex;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }

      .logo {
        display: flex;
        align-items: center;
        margin-right: auto;
      }
      
      .main-menu{
        display: none;
      }

      .logo img{
        width: 5rem;
      }

      .started {
        display: flex;
        align-items: center;
      }

    /*Primera sección*/
    
    .sec-home{
      padding-top: 8rem;
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-left: 0rem;
      padding-right: 0rem;
      padding-bottom: 2.5rem;
    }
    
    .sec-home .home-cta{
      flex: 0;
      padding-top: 1rem;
      padding-left: 10px;
      padding-right: 10px;
    }

    .sec-home .home-img img{
      width: 100%;
      height: 300px;
      min-width: 0px;
    }

    .sec-home .home-cta .home-text{
      font-size: 14px;
      word-spacing: 0px;
    }

    .sec-home .home-cta .home-title{
      text-align: center;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
    }

    .sec-home .login .input{
      width: 180px;
      height: 30px;
      font-size: 12px;
    }

    .sec-home .login .btn-main{
      padding: 0;
    }

    /*Segunda sección*/

    .sec-information .imagen{
      width: 30%;
      height: 50%;
    }

    .sec-information .information{
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .sec-information .information .title{
      font-size: 0.85rem;
      word-spacing: -1px;
    }

    .sec-information .information .subtitle{
      font-size: 0.7rem; 
      padding-right: 0rem;
    }

    .sec-information .button{
      padding-left: 10px;
      padding-right: 0;
      font-size: 0.6rem;
      width: 120px;
      height: 20px;
      justify-content: start;
    }

    .sec-information .button .bi-arrow-right{
      font-size: 0.8rem;
      padding-left: 0.2rem;
    }

    /*Tercera sección*/

    .graphic .header{
      font-size: 0.6rem;
    }

    .graphic .body td{
      text-align: center;
      align-items: center;
      padding: 0.6rem 0 0.36rem 0;
    }

    .graphic .body tr{
      font-size: 0.6rem;
    }

    .graphic .bitcoin{
      padding: 0.15rem 0.28rem;
    }

    .graphic .body .name{
      display: flex;
      flex-direction: column;
      font-size: 0.7rem;
      text-align: center;
      align-items: center;
    }

    .graphic .body span{
      padding-left: 0;
      font-size: 0.5rem;
    }

    .graphic .body .value{
      padding: 1rem 0.2rem 0 0.2rem;
    }

    .graphic .etherueum{
      width: 22px;
    }

    .graphic .cardano{
      width: 24px;
      padding: 0;
    }

    .graphic .solana{
      width: 26px
    }

    .graphic .body .cambio, .graphic .body .negative{
      padding-top: 1rem;
    }

    .graphic .body .btn{
      font-size: 8px;
      padding: 6px 12px;
      margin-top: 5px;
    }

    /*Cuarta sección*/

    .dates{
      padding-top: 1rem;
    }

    .dates h5{
      line-height: 25px;
      font-size: 1.3rem;
    }

    .dates p{
      font-size: 0.8rem;
      padding-right: 0;
    }

    .dates button{
      font-size: 0.8rem;
      padding: 0.3rem 0.4rem;
    }

    .dates .icon{
      width: 40px;
    }

    .dates .left{
      width: 60%;
      padding-left: 1rem;
    }

    .dates .right{
      padding-right: 1rem;
      padding-top: 0;
    }

    .dates .right li a{
      padding: 0.8rem 0rem;
      font-size: 1rem;
    }

    .dates .right li a:hover{
      padding: 0.8rem 0rem;
    }

    .dates .right li .letters{
      display: none;
    }

    .dates .right li .button{
      font-size: 0.8rem;
      display: none;
    }
    
    /*Quinta sección*/

    .sec-features .inicio{
      padding-bottom: 3rem;
    }

    .sec-features .title{
      font-size: 30px;
      text-align: center;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .sec-features .subtitle{
      font-size: 15px;
      text-align: center;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .sec-features .img-2{
        width: 80%;
    }

    .sec-features .items{
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .sec-features .items ul{
      padding-left: 0;
    }

    .sec-features .items ul li{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .sec-features .items h4, .sec-features .items p{
      padding-left: 0px;
    }

    .sec-features .items h4{
      padding-top: 1.3rem;
    }

    .sec-features .items p{
      text-align: center;
    }

    /*Sexta sección*/

    .sec-benefits .inicio .title {
      font-size: 24px;
      padding-top: 3.5rem;
      line-height: normal;
    }

    .sec-benefits .subtitle {
      font-size: 16px;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    
    .sec-benefits .cards{
      flex-direction: column;
      padding-top: 2rem;
      padding-left: 0rem;
      padding-right: 0rem;
    }

    .cards .icon{
      font-size: 2.8rem;
    }

    .cards .description .title{
      font-size: 1.1rem;
    }

    .cards .cta{
      margin-top: 0;
      padding-bottom: 3rem;
    }

    /*Septima sección*/

    .kpis{
      margin: 0;
      padding: 0;
      width: 100%
    }

    .kpis .number{
      padding-top: 10px;
      font-size: 20px;
      line-height: normal;
    }

    /*Octava sección*/

    .sec-onboarding{
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    .sec-onboarding .title{
      font-size: 27px;
    }

    .sec-onboarding .subtitle{
      font-size: 15px;
    }

    .sec-onboarding i{
      font-size: 2.5rem;
      padding-bottom: 0.9rem;
    }

    .sec-onboarding .cards .description .title{
      font-size: 0.95rem;
      line-height: normal;
      font-weight: normal;
      padding-right: 0;
      padding-left: 0;
    }

    .sec-onboarding .feauture{
      width: calc(100%/3);
    }

    .sec-onboarding .cards{
      padding: 0rem;
    }

    /*Última sección*/
    
    .last-section{
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .last-section .left{
      padding-left: 1rem;
      width: 100%;
    }

    .last-section img{
      display: none;
    }

    .last-section .left h5{
      font-size: 1.5rem;
    }

    .last-section .left p{
      font-size: 0.8rem;
      padding-right: 2rem;  
    }

    .last-section .left button{
      font-size: 0.7rem;
      padding: 0.5rem 0.5rem;
    }

    .down-text{
      padding: 0.7rem;
      font-size: 0.67rem;
    }

    /*footer*/

    .footer{
      flex-direction: column;
      width: 100%;
      padding-left: 0.5rem;
      padding-top: 2rem;
    }

    .footer .part{
      width: 100%;
      padding-left: 0;
    }

    .footer .part .languages{
      padding-top: 0;
    }

    .footer .part .languages .select{
      padding: 0;
      font-size: 0.75rem;
    }

    .footer .part .icon img{
      width: 30%
    }

    .footer .part p{
      padding-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 0.68rem;
    }

    .footer .part .redes .media-social a{
      font-size: 0.68rem;
    }

    .footer .information{
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.8rem;
    }

    .footer .information .container{
      padding: 0;
    }

    .footer .information h6{
      font-size: 0.70rem;
      padding-top: 10px;
    }

    .footer .information ul{
      font-size: 0.7rem;
    }
  }
  
  @media (min-width: 501px) and (max-width: 800px){
    /*Header*/
      
    .nav{
      display: flex;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .logo {
      display: flex;
      align-items: center;
      margin-right: auto;
    }
    
    .main-menu{
      display: none;
    }

    .logo img{
      width: 5rem;
    }

    .started {
      display: flex;
      align-items: center;
    }

  /*Primera sección*/
  
  .sec-home{
    padding-top: 4rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 2.5rem;
  }
  
  .sec-home .home-cta{
    flex: 0;
    padding-top: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .sec-home .home-cta .cta-text{
    font-size: 0.8rem;
  }

  .sec-home .home-img img{
    width: 100%;
    height: 300px;
    min-width: 0px;
  }

  .sec-home .home-cta .home-text{
    padding-top: 10px;
    font-size: 13px;
    word-spacing: 0px;
  }

  .sec-home .home-cta .home-title{
    display: flex;
    font-size: 2.2rem;
    width: 100%;
    line-height: 1.1;
  }

  .sec-home .login .input{
    width: 180px;
    height: 30px;
    font-size: 12px;
  }

  .sec-home .login .btn-main{
    padding: 0;
    font-weight: 600;
    font-size: 11.5px;
  }

  /*Segunda sección*/

  .sec-information{
    align-items: center;
  }

  .sec-information .imagen{
    width: 20%;
    height: 50%;
    padding-top: 1rem;
  }

  .sec-information .information{
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .sec-information .information .title{
    font-size: 1.2rem;
    padding-bottom: 5px;
    word-spacing: -1px;
  }

  .sec-information .information .subtitle{
    font-size: 0.87rem; 
    padding-right: 0rem;
  }

  .sec-information .button{
    padding-left: 10px;
    padding-right: 0;
    font-size: 0.7rem;
    width: 120px;
    height: 30px;
    justify-content: start;
  }

  .sec-information .button .bi-arrow-right{
    font-size: 0.8rem;
    padding-left: 0.2rem;
    padding-top: 0;
  }

  /*Tercera sección*/

  .graphic .header{
    font-size: 0.8rem;
  }

  .graphic .body td{
    align-items: center;
    padding: 0.6rem 0 0.6rem 0;
  }

  .graphic .body tr{
    font-size: 0.95rem;
  }

  .graphic .body span{
    padding-left: 0;
    font-size: 0.7rem;
  }

  .graphic .etherueum{
    width: 22px;
  }

  .graphic .cardano{
    width: 24px;
    padding: 0;
  }

  .graphic .solana{
    width: 26px
  }

  .graphic .body .btn{
    font-size: 9px;
    padding: 6px 12px;
  }

  /*Cuarta sección*/

  .dates{
    padding-top: 1rem;
  }

  .dates h5{
    line-height: 30px;
    font-size: 1.6rem;
    padding-bottom: 5px;
  }

  .dates p{
    word-spacing: -1px;
    padding-right: 0;
  }

  .dates button{
    font-size: 0.95rem;
    padding: 0.3rem 0.4rem;
  }

  .dates .icon{
    width: 40px;
  }

  .dates .left{
    padding-left: 1rem;
  }

  .dates .right{
    padding-right: 1rem;
    padding-top: 0;
  }

  .dates .right ul{
    padding-left: 0.8rem;
    margin-bottom: 0;
  }

  .dates .right li a{
    padding: 0.8rem 0rem;
    font-size: 1.2rem;
  }

  .dates .right li a:hover{
    padding: 0.8rem 0rem;
  }

  .dates .right li .button{
    padding-right: 0;
    font-size: 0.9rem;
  }

  .dates .right li .letters{
    display: none;
  }
  
  /*Quinta sección*/

  .sec-features .inicio{
    padding-bottom: 3rem;
  }

  .sec-features .title{
    font-size: 35px;
    text-align: center;
    padding-bottom: 0;
  }

  .sec-features .subtitle{
    text-align: center;
    padding: 0 1rem;
  }

  .sec-features .img-2{
      width: 90%;
  }

  .sec-features .items ul{
    padding-right: 2rem;
  }

  .sec-features .items h4{
    padding-top: 1.3rem;
    padding-left: 29px;
  }

  /*Sexta sección*/

  .sec-benefits .inicio .title {
    font-size: 28px;
    padding-top: 3.5rem;
    line-height: normal;
    color: black;
  }

  .sec-benefits .subtitle {
    font-size: 16px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .sec-benefits .cards{
    padding-top: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .sec-benefits .cards .feauture{
    width: calc(100%/3);
  }

  .cards .icon{
    font-size: 2.8rem;
  }

  .cards .description .title{
    font-size: 1rem;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards .description .text{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0rem 1rem;
  }

  .cards .cta a{
    font-size: 0.8rem;
    word-spacing: -1px;
  }

  .cards .cta{
    margin-top: 0;
    padding-bottom: 3rem;
  }

  /*Septima sección*/

  .kpis{
    padding: 24px 10px;
    width: 100%;
  }

  .kpis .kpi{
    width: calc(100%/3);
    padding: 0 0;
  }

  .kpis .desc{
    text-align: center;
    font-size: 0.95rem;
  }

  .kpis .number{
    padding-top: 10px;
    font-size: 25px;
    line-height: normal;
  }

  /*Octava sección*/

  .sec-onboarding{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .sec-onboarding .title{
    font-size: 30px;
  }

  .sec-onboarding i{
    font-size: 3rem;
    padding-bottom: 0.9rem;
  }

  .sec-onboarding .cards .description .title{
    line-height: normal;
  }

  .sec-onboarding .feauture{
    width: calc(90%/3);
  }

  .sec-onboarding .cards{
    padding: 1rem;
  }

  /*Última sección*/
  

  .last-section .left{
    padding: 1rem 0rem 1rem 1rem;
    width: 100%;
  }

  .last-section .left h5{
    font-size: 1.5rem;
  }

  .last-section .left p{
    font-size: 0.8rem;
    padding-right: 2rem;  
  }

  .last-section .left button{
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem;
  }

  .down-text{
    padding: 0.7rem;
    font-size: 0.67rem;
  }

  /*footer*/

  .footer{
    width: 100%;
    padding-left: 0.5rem;
    padding-top: 2rem;
    padding-right: 0.5rem;
  }

  .footer .part{
    width: 40%;
    padding-left: 0;
  }

  .footer .part .languages{
    padding-top: 0;
  }

  .footer .part .languages .select{
    padding: 0;
    font-size: 0.68rem;
  }

  .footer .part p{
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.68rem;
  }

  .footer .part .redes .media-social a{
    font-size: 0.68rem;
  }

  .footer .information{
    width: 100%;
    padding-top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .footer .information .container{
    padding: 0;
  }

  .footer .information h6{
    font-size: 0.70rem;
    padding-top: 10px;
  }

  .footer .information ul{
    font-size: 0.7rem;
  }
  }

  @media (min-width: 801px) and (max-width: 975px){

        /*Header*/
      
        .nav{
          display: flex;
          padding: 0.5rem;
        }
    
        .logo {
          display: flex;
          align-items: center;
          margin-right: auto;
        }
        
        .logo img{
          width: 5rem;
        }

        .nav ul li{
          padding-right: 0.4rem;
        }

        .main-menu li{
          font-size: 0.7rem;
        }

        .started {
          display: flex;
          align-items: center;
        }
        
        .started .btn-main{
          padding: 0.3rem 0.2rem;
        }
      /*Primera sección*/
      
      .sec-home{
        padding-top: 4rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 2rem;
        padding-bottom: 2.5rem;
      }
    
      .sec-home .home-img img{
        height: 500px;
      }
      
      .sec-home .home-cta .home-text{
        padding-top: 10px;
        font-size: 15px;
        width: 400px;
        word-spacing: 0px;
      }
    
      .sec-home .home-cta .home-title{
        display: flex;
        font-size: 2.7rem;
        width: 100%;
        line-height: 1.1;
      }
    
      .sec-home .login .input{
        width: 230px;
        height: 50px;
        font-size: 15px;
      }
    
      .sec-home .login .btn-main{
        padding: 0;
        font-weight: 600;
      }
    
      /*Segunda sección*/
    
      .sec-information{
        align-items: center;
      }
    
      .sec-information .imagen{
        width: 20%;
        height: 50%;
        padding-top: 1rem;
        padding-left: 1rem;
      }
    
      .sec-information .information .title{
        font-size: 1.5rem;
        padding-bottom: 5px;
        word-spacing: -1px;
      }
    
      .sec-information .information .subtitle{
        font-size: 1rem; 
      }
    
      .sec-information .button{
        padding-left: 10px;
        font-size: 1rem;
        justify-content: start;
      }
    
      .sec-information .button .bi-arrow-right{
        font-size: 1rem;
        padding-left: 0.2rem;
        padding-top: 0;
      }
    
      /*Tercera sección*/
      
      .graphic{
        padding-left: 10px;
        padding-right: 10px;
      }
    
      .graphic .body span{
        font-size: 0.9rem;
      }
    
      .graphic .etherueum{
        width: 24px;
      }
    
      .graphic .cardano{
        width: 26px;
        padding: 0;
      }
    
      .graphic .solana{
        width: 28px
      }
    
      .graphic .body .btn{
        font-size: 12px;
        padding: 8px 12px;
      }
    
      /*Cuarta sección*/
    
      .dates{
        padding-top: 1rem;
      }
    
      .dates h5{
        font-size: 2rem;
        padding-bottom: 5px;
      }
    
      .dates p{
        font-size: 0.9rem;
      }
    
      .dates .icon{
        width: 40px;
      }
    
      .dates .right{
        padding-right: 1rem;
        padding-top: 1rem;
      }
      
      /*Quinta sección*/
    
      .sec-features .img-2{
          width: 70%;
      }
    
      .sec-features .items h4{
          padding-left: 29px;
      }
    
      /*Sexta sección*/
    
      .sec-benefits .inicio .title {
        padding-top: 3.5rem;
        color: black;
      }
      
      .sec-benefits .cards{
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    
      .sec-benefits .cards .feauture{
        width: calc(100%/3);
      }
    
      .cards .icon{
        font-size: 3rem;
      }
    
      .cards .description .title{
        font-size: 1.2rem;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .cards .description .text{
        font-size: 0.95rem;
        display: flex;
        justify-content: center;
        height: 80px;
        padding: 0rem 1rem;
      }
    
      .cards .cta a{
        font-size: 0.9rem;
      }
    
      .cards .cta{
        margin-top: 1.5rem;
        padding-bottom: 5rem;
      }
    
      /*Septima sección*/
    
      .kpis .kpi{
        width: calc(100%/3);
        padding: 0 0;
      }
    
      .kpis .number{
        font-size: 35px;
        line-height: normal;
      }
    
      /*Octava sección*/
    
      .sec-onboarding{
        padding-bottom: 4rem;
      }
    
      .sec-onboarding .title{
        font-size: 35px;
      }
    
      .sec-onboarding i{
        padding-bottom: 2rem;
      }
    
      .sec-onboarding .cards .description .title{
        line-height: normal;
      }
    
      .sec-onboarding .cards{
        padding: 3rem;
      }
    
      /*Última sección*/
    
      .last-section .left{
        padding: 2rem;
        width: 40%;
      }
    
      .last-section .left button{
        padding: 0.5rem 0.5rem;
      }
    
      .down-text{
        padding: 1rem 2rem;
        font-size: 0.8rem;
      }
    
      /*footer*/
    
      .footer{
        width: 100%;
        padding-left: 0.5rem;
        padding-top: 2rem;
        padding-right: 0.5rem;
      }
    
      .footer .part{
        width: 40%;
        padding-left: 0;
      }
    
      .footer .part .languages{
        padding-top: 0;
      }
    
      .footer .part .languages .select{
        padding: 0;
        font-size: 0.68rem;
      }
    
      .footer .part p{
        padding-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 0.68rem;
      }
    
      .footer .part .redes .media-social a{
        font-size: 0.68rem;
      }
    
      .footer .information{
        width: 100%;
        padding-top: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    
      .footer .information .container{
        padding: 0;
      }
    
      .footer .information h6{
        font-size: 0.90rem;
        padding-top: 10px;
      }
    
      .footer .information ul{
        font-size: 0.85rem;
      }
      }

  @media (min-width: 976px) and (max-width: 1200px){
    /*Header*/
      
    .nav{
      display: flex;
      padding: 0.5rem;
    }

    .logo {
      display: flex;
      align-items: center;
      margin-right: auto;
    }
    
    .logo img{
      width: 5rem;
    }

    .main-menu li{
      font-size: 0.85rem;
    }

    .started {
      display: flex;
      align-items: center;
    }
    
  /*Primera sección*/
  
  .sec-home{
    padding-top: 7rem;
    width: 100%;
    padding-bottom: 2.5rem;
    padding-right: 2rem;
  }

  .sec-home .home-img img{
    height: 450px;
  }
  
  .sec-home .home-cta .home-text{
    font-size: 18px;
    width: 600px;
    word-spacing: 0px;
  }

  .sec-home .home-cta .home-title{
    font-size: 3.2rem;
  }

  .sec-home .login .btn-main{
    padding: 0;
  }

  /*Segunda sección*/

  .sec-information{
    align-items: center;
  }

  .sec-information .imagen{
    width: 20%;
    height: 50%;
    padding-top: 1rem;
    padding-left: 4rem;
  }

  .sec-information .information .title{
    font-size: 2rem;
    word-spacing: -1px;
  }

  .sec-information .information .subtitle{
    font-size: 1.2rem; 
  }

  /*Tercera sección*/
  
  .graphic{
    padding-left: 10px;
  }

  .graphic .body .btn{
    font-size: 12px;
    padding: 8px 12px;
  }

  /*Cuarta sección*/

  .dates{
    padding: 1rem;
  }

  .dates h5{
    font-size: 2rem;
    padding-bottom: 5px;
  }

  .dates p{
    font-size: 1rem;
  }
  
  /*Quinta sección*/

  .sec-features .items h4{
      padding-left: 29px;
  }

  /*Sexta sección*/
  
  .sec-benefits .cards{
    padding-top: 2rem;
    padding-right: 2rem;
  }

  .sec-benefits .cards .feauture{
    width: calc(100%/3);
  }

  .cards .icon{
    font-size: 3rem;
  }

  .cards .description .title{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards .description .text{
    height: 80px;
    padding: 0rem 1rem;
  }


  .cards .cta{
    margin-top: 1rem;
    padding-bottom: 5rem;
  }

  /*Octava sección*/

  .sec-onboarding{
    padding-bottom: 4rem;
  }

  .sec-onboarding i{
    padding-bottom: 2rem;
  }

  .sec-onboarding .cards .description .title{
    line-height: normal;
  }

  /*Última sección*/

  .down-text{
    padding: 1rem 4rem;
    font-size: 0.9rem;
  }

  /*footer*/

  .footer{
    padding-top: 2rem;
  }
  }
  

